div{
    width: 200vw;
}
#table-1 table{
    border: 1px solid #fff;
}
#table-1 table,#table-1 th,#table-1 td{
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: rgb(3, 198, 198);
    width: 50vw;
}
#table-1{
    border-collapse: collapse;
    margin-bottom: 20px;
}


#table-2 tr,#table-2 th,#table-2 td{
    border: solid 2px #000;
    border-radius: 10px;
}
#table-2 table{
    border: solid 2px #000;
    width:50vw;
    background-color: rgb(3, 198, 198);
}
